# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Ignorar carpeta de compilación
build/

# Ignorar configuraciones de usuario
sdkconfig
sdkconfig.old

# Ignorar archivos de IDE
.vscode/
.idea/

# Ignorar archivos temporales de Python
__pycache__/

# --- KICAD IGNORE LIST ---
# Archivos temporales y backups
*.lck
*.bak
*.kicad_pcb-bak
*.kicad_sch-bak
_autosave-*
*.kicad_prl
fp-info-cache

# Carpetas de backup
*-backups/
hardware/sensor-hub-carrier/report.txt
